/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 321px) {
	.navbar {
		margin: 0;
		padding: 0 10px;
	}
	.main {
		padding: 10px 0;
	}
	.date-range-picker {
		border: none;
		margin: 0;
	}
	.container {
		padding: 0;
	}
}
@media (min-width: 376px) {
	#addClient {
		right: 43px;
	}
	.add-client-label {
		display: block;
	}
}
@media (min-width: 500px) {
	.edit-appointment .glyphicon-class {
		font-size: 0.7em;
	}
	.modal-header .modal-title {
		font-size: 3em;
	}
	.modal-header .close {
		margin-top: 5px;
		margin-right: 14px;
		padding: 6px 10px 10px;
		width: 50px;
		height: 50px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 {
		/*font-size: 1.8em;*/
		margin: 20px 0;
	}
	h6, .h6 {
		font-size: 11px;
	}
	.navbar-default .navbar-brand {
		font-size: 1.3em;
	}
	.main {
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#clientDetails > h2 {
		font-size: 4em;
	}
}
@media (min-width: 769px) {
	.appointment-data .appointment-details {
		font-size: 1em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.edit-appointment .glyphicon-class {
		display: block;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}