/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 321px) {
	.navbar {
		margin: 0;
		padding: 0 10px;
	}
	.date-range-picker {
		border: none;
		margin: 0;
		font-size: 1em;
	}
	.services .service .buttons.edit-buttons .display-order h2 {
		font-size: .7em;
	}
}
@media (min-width: 376px) {
	.add-client-label {
		display: block;
	}
	#addClient {
		right: 60px;
	}
	

}
@media (min-width: 500px) {
	.edit-appointment .glyphicon-class {
		font-size: 0.7em;
	}
	.modal-header .modal-title {
		font-size: 3em;
	}
	.modal-header .close {
		margin-top: 5px;
		margin-right: 14px;
		padding: 6px 10px 10px;
		width: 50px;
		height: 50px;
	}
	.date-range-picker {
		font-size: 1.4em;
	}
	.date-range-picker label {
		margin: 8px 0 0 -38px;
	}
	.calendar-table h6.large-screen {
		display: initial;
	}
	.calendar-table h6.small-screen {
		display: none;
	}
	.services .service .buttons.edit-buttons .display-order h2 {
		font-size: inherit;
	}
	.services .service select {
		width: 84%;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
		background: url("/assets/grey-texture.png") repeat scroll 0% 0% transparent;
	}
	h1 {
		font-size: 2em;
		margin: 10px 0;
	}
	h6, .h6 {
		font-size: 11px;
	}
	.navbar-default .navbar-brand {
		font-size: 1.3em;
	}
	.main {
		padding: 40px;
		border: none;
		border: 1px solid #ccc;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#addClient {
		top: 10px;
	}
	#clientDetails > h2 {
		font-size: 4em;
	}
	.calendar {
		margin-left: 0px;
		margin-right: 0px;
	}
	.date-range-picker {
		font-size: 2em;
	}
	.date-range-picker label {
		margin: 8px 0 0 -20px;
	}
	.date-range-picker .today {
		padding: 26px;
		border-radius: 10px 0 0 0;
    	border-right: 1px solid #e8e7d7;
	}
	.date-range-picker .date-selector,
	.date-range-picker .arrow.arrow-right {
		border-radius: 0 10px 0 0;
	}
	.appointments .edit-appointment .col-xs-4 {
		padding-right: inherit;
		padding-left: inherit
	}
}
@media (min-width: 769px) {
	.appointment-data .appointment-details {
		font-size: 1em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.edit-appointment .glyphicon-class {
		display: block;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}