body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}
.page h1{
	font-weight: 200;
	margin-bottom: 0;
}
.handwriting {
	font-family: 'Dancing Script', cursive;
}
.header {
	background-color: #ccc;
	height: 100px;
}
.header .header-logo {
	float: left;
	position: relative;
	top: -37px;
	left: 17px;

	overflow-y: hidden;

	transition-property: top;
	transition-duration: 1.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.header .header-logo.closed {
	top: -1000px;
}
.header .header-board {
	width: 300px;
}
.header .logo {
    margin: 14px;
    width: 228px;
    padding: initial;
    background-color: #FFF;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    top: 63px;
    left: 21px;
    border: 1px solid #CACACA;
}
.header .user-links {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer .glyphicon,
.footer p{
	text-align: center;
}
.footer p {
	font-size: 14px;
	margin: 4px;
}
.footer .glyphicon {
	display: block;
	color: #01B9FF;
}
.history-table tr td:first-child {
	width: 184px;
	border-right: 1px dashed #d6d6d6;
	text-align: center;
}
.history-table tr td {
	border-bottom: 1px solid #ddd;
	vertical-align: middle !important;
}
.history-table .btn {
	font-size: .8em;
}
.history-table .btn-default[disabled] {
	background-color: #ccc;
	color: #757575;
}
p.no-appointments {
	text-align: center;
	margin-top: 90px;
}
.table-responsive {
	border: none;
}
#cancelAppointmentModal h1 {
	margin: 2px 0 23px 0;
}
#cancelAppointmentModal .btn {
	font-size: .5em;
	padding: 14px 36px;
	margin: 4px;
}